<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FixItFinderApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTHn9kjsiN9F44H8H1Xrn8y2p3IcVJSOI" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".auth.ProviderLoginActivity"
            android:exported="false" />

        <activity
            android:name=".auth.ProviderRegisterActivity"
            android:exported="false" />

        <activity
            android:name=".auth.OtpActivity"
            android:exported="false" />

        <activity
            android:name=".UserDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".UserSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".PrivacyReportActivity"
            android:exported="false" />

        <activity
            android:name=".ServiceListActivity"
            android:exported="false" />

        <activity
            android:name=".maps.MapsActivity"
            android:exported="false" />

        <activity
            android:name=".payment.PaymentActivity"
            android:exported="false" />

        <activity
            android:name=".TestMenuActivity"
            android:exported="false" />

        <activity
            android:name=".PreviewActivity"
            android:exported="false" />
    </application>

</manifest>